


h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 400;
    font-weight: bold;
 }

h2  {
    font-family: 'Petit Formal Script', cursive;
   font-weight: normal;
   font-style: normal;
}


h3, h4, h5, p {

    font-family: Verdana;

}




.otherrecipies, img {


    width: 150px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;

    
}

.footer{
    color: #ffffff;
    background-color: #333;
    padding: 5em 0 1em 0;
    margin-bottom: 1;
}.custom-icon {
    margin-right: 20px; /* für größere Bildschirme */
}

@media (max-width: 768px) {
    .custom-icon {
        margin-right: 10px; /* für kleinere Bildschirme */
    }
}


