* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.43em;
    color: #000000;

}


h1 {
    font-family: 'Petit Formal Script', cursive;
    font-size: 400;
    font-weight: bold;
 }

h2  {
    font-family: 'Petit Formal Script', cursive;
   font-weight: normal;
   font-style: normal;
}


h3, h4, h5, p {

    font-family: Verdana;

}

.extraInfo {
    transition: 0.5s ease;
    background-color: rgba(0,0,0,0);
    box-shadow: 0px 3px 6px #00000029;
    color: #9a9a9a;
    text-align: center;
    margin-top: -6.5em;
    z-index: 0;
}

.container{
    display: flex;
    justify-content: center;
}




.otherrecipies, img {


    width: 150px;
    height: 300px;
    object-fit: cover;
    margin-right: 20px;

    
}

.footer{
    color: #ffffff;
    background-color: #333;
    padding: 5em 0 1em 0;
    margin-bottom: 1;
}.custom-icon {
    margin-right: 20px; /* für größere Bildschirme */
}

@media (max-width: 768px) {
    .custom-icon {
        margin-right: 10px; /* für kleinere Bildschirme */
    }
}


