


h1  {
    font-family: 'PetitFormalScriptRegular';
   font-weight: normal;
   font-style: normal;

}

h2  {
    font-family: 'PetitFormalScriptRegular';
   font-weight: normal;
   font-style: normal;
}


/* h3, h4, h5, p {

    font-family: Verdana;

} */